:host {
  display: flex;
}
.progress-controls {
  flex: 1;
  position: relative;
}
in-c-progress-circle, in-c-advance-button {
  position: absolute;
  left: 50%;
  top: 50%;
}
in-c-progress-circle {
  margin-left: -50px;
  margin-top: -50px;
}
in-c-advance-button {
  margin-left: -27px;
  margin-top: -27px;
}