<div>
  <p>
    Play your own unique version of
    <a href="https://en.wikipedia.org/wiki/In_C" target="_blank">Terry Riley's "In C"</a>
    with the help of five automated bot performers.
  </p>
  <p>
    Every bot plays the same sequence of 53 short musical phrases.
    Each bot will keep repeating the same phrase until <em>you</em> decide it should move on to the next.
  </p>
  <p>
    Over time, different musical and visual patterns will emerge.
  </p>
</div>
<button [disabled]="!samplesLoaded"
        (click)="play.next()">
  <span *ngIf="samplesLoaded">Play</span>
  <span *ngIf="!samplesLoaded">Loading...</span>
</button>
<p>
  Developed by <a href="https://twitter.com/teropa">@teropa</a>.
  <a href="https://github.com/teropa/in-c">Fork me on GitHub</a>.
</p>
