<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <title>In C</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <meta property="og:title" content="In C" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="https://teropa.info<%= require('./ogcover.png') %>" />
    <meta property="article:author" content="https://www.facebook.com/terop" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
      body {
        background-color: black;
      }
    </style>
  </head>
  <body>
    <%= htmlWebpackPlugin.options.rootComponent %>
  </body>
</html>